#container {
	padding:15px;
	width:1200px;
	margin:0 auto;
}

fieldset {
	margin-bottom:20px;
	label {
		margin-bottom:5px;
		display: inline-block;

		span {
			display: inline-block;
			width:150px;
		}

		input[type="text"] {
			width:200px;
		}

		select {
			width:206px;
		}
	}
}