#container{padding:15px;width:1200px;margin:0 auto}fieldset{margin-bottom:20px}fieldset label{margin-bottom:5px;display:inline-block}fieldset label span{display:inline-block;width:150px}fieldset label input[type="text"]{width:200px}fieldset label select{width:206px}