doctype html
html(lang="en")
    head
        title="NYC Health Grade Data Viewer"
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/main.css")
        script(src="/js/vendor/modernizr-2.8.3.min.js")
        link(rel="stylesheet/less", type="text/css", href="/css/main.less")
        script.
            less = {
                env: "development"
            };
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css")
        //- script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js")
        script(src="/js/main.js")
    body
        div#container
            h1 NYC Health Grade Data Viewer
            p Looking for the quick answer?&nbsp;
                a(id="quick" href="#") Click here
                |  to load the top 10 Thai resturaunts in NYC with an inspection grade of B or above, or play with the filters below.
                | To include multiple zipcodes, separate them with commas.
            fieldset
                legend Filter Data
                form(id="filters" method="post")
                    label
                        span Name:
                        input(type="text" id="name")
                    br
                    label
                        span Borough:
                        select(id="boro")
                            option(value="") Select
                            each val, index in boros
                                option(value=index) #{val}
                    br
                    label
                        span Zipcode(s):
                        input(type="text" id="zip")
                    br
                    label
                        span Cuisine:
                        select(id="cuisine")
                            option(value="") Select
                            each val, index in cuisines
                                option(value=index) #{val}
                    br
                    label
                        span Minimum Grade:
                        select(id="grade")
                            option(value="") Select
                            each val, index in {1: 'A', 2: 'B', 3: 'C', 4: 'Not Yet Graded', 5:'Grade Pending'}
                                option(value=index) #{val}
            table#results
                thead
                    tr
                        th
                            | Name
                        th
                            | Address
                        th
                            | Borough
                        th
                            | Zipcode
                        th
                            | Phone
                        th
                            | Cuisine
                        th
                            | Grade
                        th
                            | Date


